<main class="main">
  <div @notification *ngIf="notification" class="notification">
    {{notification}}
  </div>
  <app-navbar
    (onSearchLocation)="onSearchLocation($event)"
  ></app-navbar>
  <div class="content">
    <app-home
      *ngIf="!currentRestaurant"
      (onRestaurantSelect)="selectRestaurant($event)"
    ></app-home>
    <app-res-detail
      *ngIf="currentRestaurant"
      [currentRestaurant]="currentRestaurant"
      (onDeselectRestaurant)="deselectRestaurant($event)"
    ></app-res-detail>
  </div>
</main>