<div class="shimmer-container">
    <div class="border-top mask"></div>
    <div class="border-bottom mask"></div>
    <div class="border-left mask"></div>
    <div class="border-right mask"></div>
    <div class="img-left mask"></div>
    <div class="title-bottom mask"></div>
    <div class="title-right mask"></div>
    <div class="sub-title-bottom mask"></div>
    <div class="sub-title-right mask"></div>
    <div class="sub-title-bottom-2 mask"></div>
    <div class="sub-title-right-2 mask"></div>
    <div class="sub-title-right-3 mask"></div>
    <div class="last-right-mid mask"></div>
</div>